{% set pagination = pagination|default(false) %}

{% if pagination %}
    <ul class="Pagination">
        {% if pagination.firstPage %}
            <li class="Pagination__Item Pagination__Item--FirstPage">
                <a href="{{ pagination.firstPage }}" class="Pagination__Link">
                    &laquo; First
                </a>
            </li>
        {% endif %}

        {% for page in pagination.pages %}
            <li class="Pagination__Item{% if loop.first %} Pagination__Item--FirstActual{% endif %}{% if loop.last %} Pagination__Item--LastActual{% endif %}">
                {% if page.isActive %}
                    <span class="Pagination__Active">
                        {{ page.label }}
                    </span>
                {% else %}
                    <a href="{{ page.target }}" class="Pagination__Link">
                        {{ page.label }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}

        {% if pagination.lastPage %}
            <li class="Pagination__Item Pagination__Item--LastPage">
                <a href="{{ pagination.lastPage }}" class="Pagination__Link">
                    Last &raquo;
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
