{# @var \craft\web\twig\variables\CraftVariable craft #}

{% set header = header|default(null) %}
{% set hasFeaturedImage = header['meta']['featuredImage']['primary'] is defined %}
{% set featuredImages = null %}
{% if hasFeaturedImage %}
    {% set featuredImages = header.meta.featuredImage %}
{% endif %}

<header class="SiteHeader"{% if header['meta']['backgroundImage'] is defined %} style="background-image: url('{{ header['meta']['backgroundImage'] }}');"{% endif %}>
    <nav class="NavBar JSNavBar" data-scrolled-class="NavBar--IsScrolled">
        <div class="NavBar__HomeBanner">
            <a href="/" class="NavBar__HomeBannerLink" rel="home" title="BuzzingPixel Home Page" tabindex="1">
                <span class="HideElement">BuzzingPixel Home Page</span>
                <div class="NavBar__HomeBannerImage">
                    <img
                        src="/assets/img/nav/logo-horizontal-150w.png"
                        srcset="/assets/img/nav/logo-horizontal-150w.png 1x,
                                /assets/img/nav/logo-horizontal-150w-2x.png 2x"
                        alt="BuzzingPixel Home Page"
                    >
                </div>
            </a>
        </div>
        <ul class="NavBar__StandardNav JSNavList">
            {% for navSlug,navItem in nav %}
                {% set navParentLink = '/' ~ navSlug %}
                {% set navLink = navParentLink %}
                {% set navParentTitle = navItem %}
                {% set hasChildren = navItem is iterable %}
                {% if hasChildren %}
                    {% set navLink = '#' %}
                    {% set navParentTitle = navItem.title %}
                {% endif %}
                <li
                    class="NavBar__StandardNavItem{% if hasChildren %} JSSubNav{% endif %}"
                    data-sub-nav-active-class="NavBar__StandardNavItem--SubNavIsActive"
                >
                    <a
                        href="{{ navLink }}"
                        class="NavBar__StandardNavLink{% if craft.app.request.getSegment(1) == navSlug %} NavBar__StandardNavLink--IsActive{% endif %}{% if hasChildren %} JSSubNav__Activator{% endif %}{% if not hasChildren %} JSSubNav__HasNoSubMenu JSMobileMenuCloseAction{% endif %}"
                    >
                        {{ navParentTitle }}
                        {% if hasChildren %}
                            <span class="NavBar__LinkCaret">
                                {% include '_icons/icon-caret.svg' %}
                            </span>
                        {% endif %}
                    </a>
                    {% if hasChildren %}
                        <ul class="NavBar__StandardSubNav JSSubNav__List">
                            {% for childSlug,childTitle in navItem.children %}
                                <li class="NavBar__StandardSubNavItem">
                                    <a
                                        href="{{ navParentLink }}/{{ childSlug }}"
                                        class="NavBar__StandardSubNavLink{% if craft.app.request.getSegment(1) == navSlug and craft.app.request.getSegment(2) == childSlug %} NavBar__StandardSubNavLink--IsActive{% endif %} JSMobileMenuCloseAction"
                                    >
                                        {{ childTitle }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            <li class="NavBar__StandardNavItem NavBar__StandardNavItem--IsTwitterIcon">
                <a
                    href="https://twitter.com/{{ general.twitterHandle }}"
                    class="NavBar__StandardNavLink NavBar__IconParentHover NavBar__StandardNavItem--IsTwitterIcon"
                    title="BuzzingPixel On Twitter"
                >
                    <span class="HideElement">BuzzingPixel On Twitter</span>
                    <span class="NavBar__Icon">
                        {% include '_icons/icon-twitter.svg' %}
                    </span>
                </a>
            </li>
        </ul>
        <ul class="NavBar__RightHandControls">
            <li class="NavBar__RightHandControlItem">
                <a href="/account" class="NavBar__RightHandControlLink NavBar__IconParentHover" title="Your BuzzingPixel Account">
                    <span class="HideElement">Your BuzzingPixel Account</span>
                    <span class="NavBar__Icon">
                        {% include '_icons/icon-user.svg' %}
                    </span>
                </a>
            </li>
            <li class="NavBar__RightHandControlItem">
                <a href="/cart" class="NavBar__RightHandControlLink NavBar__IconParentHover" title="Cart">
                    <span class="HideElement">Cart</span>
                    <span class="NavBar__Icon">
                        {% include '_icons/icon-cart.svg' %}
                    </span>
                </a>
            </li>
        </ul>
        <a href="#" class="NavBar__Hamburger JSMobileMenuActivator" data-active-class="NavBar__Hamburger--IsActive">
            <span class="NavBar__HamburgerInner"></span>
            <span class="HideElement">
                Open Mobile Menu
            </span>
        </a>
    </nav>
    <div class="SiteHeader__Content">
        <div class="SiteHeader__ContentInner{% if hasFeaturedImage %} SiteHeader__ContentInner--HasFeaturedImage{% endif %}">
            <div class="SiteHeader__ContentPrimary{% if hasFeaturedImage %} SiteHeader__ContentPrimary--HasFeaturedImage{% endif %}">
                <header class="SiteHeader__ContentHeader">
                    {% if header['meta']['heading'] is defined %}
                        <h1 class="SiteHeader__Heading">
                            {{ header['meta']['heading']|typeset }}
                        </h1>
                    {% endif %}
                    {% if header['meta']['subHeading'] is defined %}
                        <h2 class="SiteHeader__SubHeading">
                            {{ header['meta']['subHeading']|typeset }}
                        </h2>
                    {% endif %}
                    {% if header['html'] is defined %}
                        <div class="SiteHeader__ContentBody">
                            {{ header['html']|typeset }}
                        </div>
                    {% endif %}
                    {% if header['meta']['ctaGroup'] is defined %}
                        <div class="SiteHeader__CTAGroup">
                            <div class="CTAGroup">
                                {% for cta in header['meta']['ctaGroup'] %}
                                    {% set style = cta['style']|default('orange') %}
                                    {% set ctaClass = 'button--colored' %}
                                    {% if style == 'green' %}
                                        {% set ctaClass = '' %}
                                    {% elseif style == 'greenOutline' %}
                                        {% set ctaClass = 'button--outlined' %}
                                    {% elseif style == 'orangeOutline' %}
                                        {% set ctaClass = 'button--colored button--outlined' %}
                                    {% endif %}
                                    <a
                                        href="{{ cta.link|raw }}"
                                        class="button {{ ctaClass }} CTAGroup__button"
                                    >
                                        {{ cta.content|raw|typeset }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </header>
            </div>
            {% if hasFeaturedImage %}
                <div
                    class="SiteHeader__FeaturedImage{% if featuredImages['hasShadow'] is defined and featuredImages.hasShadow %} SiteHeader__FeaturedImage--HasShadow{% endif %}"
                >
                    <picture>
                        {% if featuredImages['mobile'] is defined %}
                            <source
                                srcset="{{ featuredImages.mobile }} 1x{% if featuredImages['mobile2x'] is defined %},
                                        {{ featuredImages.mobile2x }} 2x{% endif %}"
                                media="(min-width: 1px) and (max-width: 649px)"
                            >
                        {% endif %}
                        {% if featuredImages['tablet'] is defined %}
                            <source
                                srcset="{{ featuredImages.tablet }} 1x{% if featuredImages['tablet2x'] is defined %},
                                        {{ featuredImages.tablet2x }} 2x{% endif %}"
                                media="(min-width: 650px) and (max-width: 1350px)"
                            >
                        {% endif %}
                        <img
                            src="{{ featuredImages.primary }}"
                            {% if featuredImages['primary2x'] is defined %}
                            srcset="{{ featuredImages.primary }} 1x,
                                    {{ featuredImages.primary2x }} 2x"
                            {% endif %}
                            alt="{% if header['meta']['heading'] is defined %}{{ header['meta']['heading'] }}{% endif %}"
                        >
                    </picture>
                </div>
            {% endif %}
        </div>
    </div>
</header>
