{# @var array block #}
{# @var \craft\web\twig\variables\CraftVariable craft #}

{% set storageService = craft.storage.get() %}

{# @var \dev\services\StorageService storageService #}

{% set contactHasErrors = storageService.get('ContactHasErrors') %}
{% set contactErrorMessage = storageService.get('ContactErrorMessage')|default('') %}
{% set contactInputValues = storageService.get('ContactInputValues')|default({}) %}
{% set contactInputErrors = storageService.get('ContactInputErrors')|default({}) %}

<div class="BlockContact">
    <div class="BlockContact__Inner">
        {% embed '_embeds/LayoutTwoColumns.twig' with {
            noticeTitle: 'Form Submission Error',
            noticeContent: contactErrorMessage|markdown,
        } %}
            {% block leftColumnContent %}
                {{ block.html|typeset }}
            {% endblock %}
            {% block rightColumnContent %}
                <form class="BlockContact__Form" method="post" novalidate>
                    {{ csrfInput() }}

                    <input type="hidden" name="action" value="dev/contact-submission/handle-submission">
                    <input type="hidden" name="redirect" value="/contact/thanks">

                    {#
                        This is a honeypot, but we're trying not to give that away to spambots.
                        By making it required, and making it look like a normal input, AND pre-filling
                        it with content, we ensure users can't submit the form and get through unless they're
                        real people with JS enabled (JS will unrequire it and remove the content)

                        A second input will also act as a honey pot, but we're not touching that input with a pre-filled value or required.
                        No prefilled values and js, in case a spam bot is sneaky
                    #}
                    <label for="site" class="label BlockContact__InputLabel">
                        Site
                        <input type="text" name="site" class="input BlockContact__Input" id="site" value="buzzingpixel.com" required>
                    </label>
                    <label for="mailing_address" class="label BlockContact__InputLabel">
                        Mailing Address
                        <input type="text" name="mailingAddress" class="input BlockContact__Input" id="mailing_address">
                    </label>

                    <label class="label BlockContact__InputLabel{% if contactInputErrors['name'] is defined %} BlockContact__InputLabel--HasError{% endif %}">
                        Your Name
                        <input
                            type="text"
                            name="name"
                            class="input BlockContact__Input{% if contactInputErrors['email'] is defined %} BlockContact__Input--HasError{% endif %}"
                            {% if contactInputValues['name'] is defined %}
                            value="{{ contactInputValues.name }}"
                            {% endif %}
                            required
                        >
                        {% if contactInputErrors['name'] is defined %}
                            <div class="BlockContact__InputErrorMessage">
                                {{ contactInputErrors.name|typeset }}
                            </div>
                        {% endif %}
                    </label>
                    <label class="label BlockContact__InputLabel{% if contactInputErrors['email'] is defined %} BlockContact__InputLabel--HasError{% endif %}">
                        Your Email Address
                        <input
                            type="email"
                            name="email"
                            class="input BlockContact__Input{% if contactInputErrors['email'] is defined %} BlockContact__Input--HasError{% endif %}"
                            {% if contactInputValues['email'] is defined %}
                            value="{{ contactInputValues.email }}"
                            {% endif %}
                            required
                        >
                        {% if contactInputErrors['email'] is defined %}
                            <div class="BlockContact__InputErrorMessage">
                                {{ contactInputErrors.email|typeset }}
                            </div>
                        {% endif %}
                    </label>
                    <label class="label BlockContact__InputLabel{% if contactInputErrors['message'] is defined %} BlockContact__InputLabel--HasError{% endif %}">
                        Your Message
                        <textarea
                            name="message"
                            class="textarea BlockContact__TextArea{% if contactInputErrors['email'] is defined %} BlockContact__TextArea--HasError{% endif %}"
                            required
                        >{% if contactInputValues['message'] is defined %}{{ contactInputValues.message }}{% endif %}</textarea>
                        {% if contactInputErrors['message'] is defined %}
                            <div class="BlockContact__InputErrorMessage">
                                {{ contactInputErrors.message|typeset }}
                            </div>
                        {% endif %}
                    </label>
                    <div class="BlockContact__SubmitWrapper">
                        <button class="button">Send your Message</button>
                    </div>
                </form>
            {% endblock %}
        {% endembed %}
    </div>
</div>
