{% set vars = block.meta %}

<div class="BlockCards">
    <div class="BlockCards__Inner">
        <form action="{{ vars.baseUrl }}" class="BlockCards__Search">
            <div class="BlockCards__SearchInputWrapper">
                <input
                    type="text"
                    name="filter"
                    placeholder="Filter by keyword..."
                    class="input BlockCards__SearchInput"
                    value="{{ vars.currentFilter|escape }}"
                >
            </div>
            <div class="BlockCards__SearchSubmitWrapper">
                <input
                    type="submit"
                    value="Filter"
                    class="button BlockCards__SearchSubmit"
                >
            </div>
        </form>
        <ul class="BlockCards__Cards">
            {% for orderItemModel in vars.items %}
                {# @var \modules\store\models\OrderItemModel orderItemModel #}

                {% set productModel = orderItemModel.getStoreProductModel() %}

                {# @var \modules\store\models\StoreProductModel productModel #}

                <li class="BlockCards__Card">
                    {% embed '_embeds/Card.twig' with {
                        inBlockGrid: true,
                    } %}
                        {% block headerPrimaryContent %}{{ productModel.title }}{% endblock %}
                        {% block headerSecondaryContent %}{{ orderItemModel.licenseKey }}{% endblock %}
                        {% block primaryContent %}
                            <div class="BlockCards__AuthorizedDomains">
                                <div class="BlockCards__AuthorizedDomainsTitle">Authorized Domains</div>
                                <ul class="BlockCards__AuthorizedDomainsList">
                                    {% for domainId,domain in orderItemModel.authorizedDomains %}
                                        <li class="BlockCards__AuthorizedDomainsListItem">
                                            <form method="post" accept-charset="UTF-8" class="JSFormClickSubmit">
                                                {{ csrfInput() }}
                                                <input type="hidden" name="action" value="store/license/remove-domain">
                                                <input type="hidden" name="redirect" value="{{ vars.redirectUrl }}">
                                                <input type="hidden" name="licenseId" value="{{ orderItemModel.id }}">
                                                <input type="hidden" name="domainId" value="{{ domainId }}">
                                                {{ domain|escape|typeset }} <small>(<a href="#" class="JSFormClickSubmit__Trigger">remove</a>)</small>
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="BlockCards__AuthorizedDomainsAdd JSOverlayTriggerContainer">
                                    <a href="#" class="JSOverlayTriggerContainer__Trigger">Add Domain</a>
                                    <div type="text/template" class="JSOverlayTriggerContainer__Template" style="display: none;">
                                        {% embed '_embeds/Overlay.twig' %}
                                            {% block overlayContent %}
                                                <form method="post" accept-charset="UTF-8" class="Overlay__Form">
                                                    {{ csrfInput() }}
                                                    <input type="hidden" name="action" value="store/license/add-domain">
                                                    <input type="hidden" name="licenseId" value="{{ orderItemModel.id }}">
                                                    <input type="hidden" name="redirect" value="{{ vars.redirectUrl }}">
                                                    <div class="Overlay__Title">Add Domain to {{ productModel.title|typeset }}</div>
                                                    <div class="Overlay__SubTitle">License Number:&nbsp;{{ orderItemModel.licenseKey }}</div>
                                                    <div class="Overlay__SubTitle2">(format: &ldquo;domain.com&rdquo;,&nbsp;do not include&nbsp;&ldquo;http:&#47;&#47;&rdquo;)</div>
                                                    <label class="label Overlay__FormLabel">
                                                        <input type="text" name="domain" class="input Overlay__FormInput" placeholder="domain.com">
                                                    </label>
                                                    <div class="Overlay__FormSubmitGroup">
                                                        <button class="button" type="submit">Submit</button>
                                                    </div>
                                                </form>
                                            {% endblock %}
                                        {% endembed %}
                                    </div>
                                </div>
                            </div>
                            <a href="{{ productModel.url }}" class="button button--colored button--outlined">
                                Product Page &raquo;
                            </a>
                        {% endblock %}
                        {% block secondaryContent %}
                            <div class="BlockCards__Notes">
                                <div class="BlockCards__NotesTitle JSOverlayTriggerContainer">
                                    Notes <small><a href="#" class="JSOverlayTriggerContainer__Trigger">edit</a></small>
                                    <div type="text/template" class="JSOverlayTriggerContainer__Template" style="display: none;">
                                        {% embed '_embeds/Overlay.twig' %}
                                            {% block overlayContent %}
                                                <form method="post" accept-charset="UTF-8" class="Overlay__Form">
                                                    {{ csrfInput() }}
                                                    <input type="hidden" name="action" value="store/license/update-notes">
                                                    <input type="hidden" name="licenseId" value="{{ orderItemModel.id }}">
                                                    <input type="hidden" name="redirect" value="{{ vars.redirectUrl }}">
                                                    <div class="Overlay__Title">Notes for {{ productModel.title|typeset }}</div>
                                                    <div class="Overlay__SubTitle">License Number:&nbsp;{{ orderItemModel.licenseKey }}</div>
                                                    <div class="Overlay__SubTitle2">(use markdown for formatting)</div>
                                                    <label class="label Overlay__FormLabel">
                                                        <textarea
                                                            name="notes"
                                                            rows="8"
                                                            class="textarea Overlay__FormInput"
                                                        >{{ orderItemModel.notes|escape }}</textarea>
                                                    </label>
                                                    <div class="Overlay__FormSubmitGroup">
                                                        <button class="button" type="submit">Submit</button>
                                                    </div>
                                                </form>
                                            {% endblock %}
                                        {% endembed %}
                                    </div>
                                </div>
                                <div class="BlockCards__NotesBody">
                                    {{ orderItemModel.notes|escape|markdown|typeset }}
                                </div>
                            </div>
                        {% endblock %}
                        {% block footerPrimaryContent %}
                            {% if productModel.subscriptionPrice > 0 %}
                                {% if orderItemModel.isSubscribed %}
                                    <a href="/account/cancel/{{ orderItemModel.id }}" class="button">
                                        Cancel Updates and Support Subscription
                                    </a>
                                {% elseif not orderItemModel.isSubscribed %}
                                    <a href="/account/renew/{{ orderItemModel.id }}" class="button">
                                        Renew Updates and Support (${{ productModel.subscriptionPrice|number_format }})
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endblock %}
                        {% block footerSecondaryContent %}
                            <a href="{{ orderItemModel.getDownloadUrl() }}" class="button button--colored button--outlined">
                                Download {{ orderItemModel.version }}
                            </a>
                        {% endblock %}
                    {% endembed %}
                </li>
            {% endfor %}
        </ul>
        {% if vars.pagination %}
            <div class="PaginationWrapper">
                {% include '_partials/Pagination.twig' with {
                    pagination: vars.pagination
                } %}
            </div>
        {% endif %}
    </div>
</div>
