{% set vars = block.meta %}

<div class="BlockCards">
    <div class="BlockCards__Inner">
        <ul class="BlockCards__Cards">
            {% for cardModel in vars.items %}
                {# @var \modules\store\models\CardModel cardModel #}

                <li class="BlockCards__Card">
                    {% embed '_embeds/Card.twig' with {
                        inBlockGrid: true,
                    } %}
                        {% block headerPrimaryContent %}Nickname: {{ cardModel.cardNickName }}{% endblock %}
                        {% block headerSecondaryContent %}Last Four: {{ cardModel.last4 }}{% endblock %}
                        {% block primaryContent %}
                            <dl class="BlockCards__DefinitionList">
                                <dt class="BlockCards__DefinitionTerm">Address</dt>
                                <dd class="BlockCards__DefinitionDefinition">{{ cardModel.address_line1|escape|typeset }}</dd>

                                {% if cardModel.address_line2 %}
                                    <dt class="BlockCards__DefinitionTerm">Address Continued</dt>
                                    <dd class="BlockCards__DefinitionDefinition">{{ cardModel.address_line2|escape|typeset }}</dd>
                                {% endif %}

                                <dt class="BlockCards__DefinitionTerm">City</dt>
                                <dd class="BlockCards__DefinitionDefinition">{{ cardModel.address_city|escape|typeset }}</dd>

                                <dt class="BlockCards__DefinitionTerm">State/Province</dt>
                                <dd class="BlockCards__DefinitionDefinition">
                                    {% if cardModel.address_country == 'US' and states()[cardModel.address_state] is defined %}
                                        {{ states()[cardModel.address_state]|escape|typeset }}
                                    {% else %}
                                        {{ cardModel.address_state|escape|typeset }}
                                    {% endif %}
                                </dd>

                                <dt class="BlockCards__DefinitionTerm">Postal Code</dt>
                                <dd class="BlockCards__DefinitionDefinition">{{ cardModel.address_zip|escape|typeset }}</dd>

                                <dt class="BlockCards__DefinitionTerm">Country</dt>
                                <dd class="BlockCards__DefinitionDefinition">
                                    {{ countries().alpha2(cardModel.address_country).name|escape|typeset }}
                                </dd>
                            </dl>
                        {% endblock %}
                        {% block secondaryContent %}
                            <dl class="BlockCards__DefinitionList">
                                <dt class="BlockCards__DefinitionTerm">Name on Card</dt>
                                <dd class="BlockCards__DefinitionDefinition">{{ cardModel.name|escape|typeset }}</dd>

                                <dt class="BlockCards__DefinitionTerm">Expiration Month</dt>
                                <dd class="BlockCards__DefinitionDefinition">{{ cardModel.getExpMonthLong()|escape|typeset }}</dd>

                                <dt class="BlockCards__DefinitionTerm">Expiration Year</dt>
                                <dd class="BlockCards__DefinitionDefinition">{{ cardModel.exp_year|escape|typeset }}</dd>
                            </dl>
                        {% endblock %}
                        {% block footerPrimaryContent %}
                            {#<a href="#" class="button">Make Default</a>#}
                            <form method="post" accept-charset="UTF-8" class="Overlay__Form">
                                {{ csrfInput() }}
                                <input type="hidden" name="action" value="store/payment/delete">
                                <input type="hidden" name="localCardId" value="{{ cardModel.id }}">
                                <input type="hidden" name="redirect" value="{{ vars.redirectUrl }}">
                                <button type="submit" class="button button--danger">
                                    Remove
                                </button>
                            </form>
                        {% endblock %}
                        {% block footerSecondaryContent %}
                            {#<a href="#" class="button button--colored button--outlined">#}
                                {#Remove#}
                            {#</a>#}
                            <a href="/account/payment/edit/{{ cardModel.id }}" class="button button--colored button--outlined">
                                Edit
                            </a>
                        {% endblock %}
                    {% endembed %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
