{# @var array block #}

{% set hasFeaturedImage = block['meta']['featuredImage']['primary'] is defined %}
{% set featuredImages = null %}
{% if hasFeaturedImage %}
    {% set featuredImages = block.meta.featuredImage %}
{% endif %}

{% set featuredImageStyle = 'ImageRight' %}
{% if block['meta']['featuredImageStyle'] is defined %}
    {% set featuredImageStyle = block.meta.featuredImageStyle %}
{% endif %}

{% set featuredImageSmallPullLeft = false %}
{% if block['meta']['featuredImageSmallPullLeft'] is defined and block.meta.featuredImageSmallPullLeft == true %}
    {% set featuredImageSmallPullLeft = true %}
{% endif %}

<div class="BlockStandard">
    <div class="BlockStandard__Inner{% if hasFeaturedImage %} BlockStandard__Inner--HasFeaturedImage{% else %} BlockStandard__Inner--HasNoFeaturedImage{% endif %} BlockStandard__Inner--FeaturedImageStyle-{{ featuredImageStyle }}{% if featuredImageSmallPullLeft %} BlockStandard__Inner--FeaturedImageSmallPullLeft{% endif %}">
        <div class="BlockStandard__ContentPrimary{% if hasFeaturedImage %} BlockStandard__ContentPrimary--HasFeaturedImage{% endif %} BlockStandard__ContentPrimary--FeaturedImageStyle-{{ featuredImageStyle }}{% if featuredImageSmallPullLeft %} BlockStandard__ContentPrimary--FeaturedImageSmallPullLeft{% endif %}">
            <div class="BlockStandard__ContentPrimaryInner">
                {% if block['meta']['heading'] is defined %}
                    <h1 class="BlockStandard__Heading">
                        {{ block.meta.heading|typeset }}
                    </h1>
                {% endif %}
                {% if block['meta']['subHeading'] is defined %}
                    <h2 class="BlockStandard__SubHeading">
                        {{ block.meta.subHeading|typeset }}
                    </h2>
                {% endif %}
                {% if block['html'] is defined %}
                    <div class="BlockStandard__ContentBody">
                        {{ block.html|typeset }}
                    </div>
                {% endif %}
                {% if block['meta']['ctaGroup'] is defined %}
                    <div class="BlockStandard__CTAGroup">
                        <div class="CTAGroup CTAGroup--IsFlushLeft">
                            {% for cta in block.meta.ctaGroup %}
                                {% set style = cta.style|default('orange') %}
                                {% set ctaClass = 'button--colored' %}
                                {% if style == 'green' %}
                                    {% set ctaClass = '' %}
                                {% elseif style == 'greenOutline' %}
                                    {% set ctaClass = 'button--outlined' %}
                                {% elseif style == 'orangeOutline' %}
                                    {% set ctaClass = 'button--colored button--outlined' %}
                                {% endif %}
                                <a
                                    href="{{ cta.link|raw }}"
                                    class="button {{ ctaClass }} CTAGroup__button"
                                >
                                    {{ cta.content|raw|typeset }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if hasFeaturedImage %}
            <div
                class="BlockStandard__FeaturedImage{% if featuredImages['hasShadow'] is defined and featuredImages.hasShadow %} BlockStandard__FeaturedImage--HasShadow{% endif %} BlockStandard__FeaturedImage--FeaturedImageStyle-{{ featuredImageStyle }}{% if featuredImageSmallPullLeft %} BlockStandard__FeaturedImage--SmallPullLeft{% endif %}"
            >
                <picture>
                    {% if featuredImages['mobile'] is defined %}
                        <source
                            srcset="{{ featuredImages.mobile }} 1x{% if featuredImages['mobile2x'] is defined %},
                                    {{ featuredImages.mobile2x }} 2x{% endif %}"
                            media="(min-width: 1px) and (max-width: 649px)"
                        >
                    {% endif %}
                    {% if featuredImages['tablet'] is defined %}
                        <source
                            srcset="{{ featuredImages.tablet }} 1x{% if featuredImages['tablet2x'] is defined %},
                                    {{ featuredImages.tablet2x }} 2x{% endif %}"
                            media="(min-width: 650px) and (max-width: 1350px)"
                        >
                    {% endif %}
                    <img
                        src="{{ featuredImages.primary }}"
                        {% if featuredImages['primary2x'] is defined %}
                        srcset="{{ featuredImages.primary }} 1x,
                                {{ featuredImages.primary2x }} 2x"
                        {% endif %}
                        alt="{% if header['meta']['heading'] is defined %}{{ header.meta.heading }}{% endif %}"
                        class="BlockStandard__FeaturedImageTag"
                    >
                </picture>
            </div>
        {% endif %}
    </div>
</div>
