{% set standardPad = standardPad|default(true) %}
{% set noticeTitle = noticeTitle|default('Note') %}
{% set noticeContent = noticeContent|default(null) %}
{% set noticeIsError = noticeIsError|default(false) %}
{% set noticeContainerClass = noticeContainerClass|default(false) %}

<div class="LayoutTwoColumn JSTwoColumnContainer">
    <div class="LayoutTwoColumn__NoticeContainer{% if noticeContainerClass %} {{ noticeContainerClass }}{% endif %}">
        {% if noticeContent %}
            <div class="LayoutTwoColumn__Notice">
                <div class="LayoutTwoColumn__StandardContentWrapper{% if standardPad %} LayoutTwoColumn__StandardContentWrapper--IsPadded{% endif %}">
                    {% embed '_embeds/Note.twig' with {
                        isError: noticeIsError,
                    } %}
                        {% block noteTitle %}{{ noticeTitle|typeset }}{% endblock %}
                        {% block noteContent %}{{ noticeContent|typeset }}{% endblock %}
                    {% endembed %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="LayoutTwoColumn__Inner">
        <div class="LayoutTwoColumn__Left">
            <div class="LayoutTwoColumn__StandardContentWrapper{% if standardPad %} LayoutTwoColumn__StandardContentWrapper--IsPadded{% endif %}">
                {{ block('leftColumnContent') ?? '' }}
            </div>
        </div>
        <div class="LayoutTwoColumn__Right">
            <div class="LayoutTwoColumn__StandardContentWrapper{% if standardPad %} LayoutTwoColumn__StandardContentWrapper--IsPadded{% endif %}">
                {{ block('rightColumnContent') ?? '' }}
            </div>
        </div>
    </div>
</div>
