{# @var \modules\store\models\CartModel cartModel #}

{% extends '_layouts/Master.twig' %}

{% block content %}
    <div class="Cart">
        <div class="Cart__Inner">
            <div class="Cart__Checkout">
                <div class="Cart__CheckoutInner">
                    <form action="#TODO" class="CheckoutForm">
                        <section class="CheckoutForm__Section">
                            <h2 class="CheckoutForm__SectionHeader">Billing</h2>
                            <div class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required">
                                    Phone Number
                                    <input
                                        type="text"
                                        class="input CheckoutForm__Input"
                                        placeholder="123-555-1212"
                                        required
                                    >
                                </label>
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required">
                                    Country
                                    <select class="select CheckoutForm__Select" required>
                                        <option value="" disabled selected>Select Country...</option>
                                        {% for country in countries().all() %}
                                            <option value="{{ country.alpha2 }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required">
                                    Full Name
                                    <input
                                        type="text"
                                        class="input CheckoutForm__Input"
                                        placeholder="John Smith"
                                        required
                                    >
                                </label>
                                <label class="label CheckoutForm__Label">
                                    Company
                                    <input
                                        type="text"
                                        class="input CheckoutForm__Input"
                                        placeholder="BuzzingPixel, LLC"
                                    >
                                </label>
                            </div>
                            <label class="label CheckoutForm__Label CheckoutForm__Label--Required">
                                Address
                                <input
                                    type="text"
                                    class="input CheckoutForm__Input"
                                    placeholder="123 Some Street"
                                    required
                                >
                            </label>
                            <label class="label CheckoutForm__Label">
                                Address Line 2
                                <input
                                    type="text"
                                    class="input CheckoutForm__Input"
                                    placeholder="Suite 201"
                                >
                            </label>
                            <label class="label CheckoutForm__Label CheckoutForm__Label--Required">
                                City
                                <input
                                    type="text"
                                    class="input CheckoutForm__Input"
                                    placeholder="Metropolis"
                                    required
                                >
                            </label>
                            <div class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required">
                                    State/Province
                                    <select class="select CheckoutForm__Select" required>
                                        <option value="TN">Tennessee</option>
                                        <option value="OTHER">Other</option>
                                    </select>
                                </label>
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required">
                                    Postal Code
                                    <input
                                        type="text"
                                        class="input CheckoutForm__Input"
                                        placeholder="12345"
                                        required
                                    >
                                </label>
                            </div>
                        </section>
                        <section class="CheckoutForm__Section">
                            <h2 class="CheckoutForm__SectionHeader">Payment</h2>
                            <div class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required CheckoutForm__Label--TwoThirds">
                                    Credit Card Number
                                    <input
                                        type="text"
                                        class="input CheckoutForm__Input JSCreditCardNumber"
                                        placeholder="5530 8628 8440 9534"
                                        required
                                    >
                                </label>
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required CheckoutForm__Label--OneThird">
                                    CVC
                                    <input
                                        type="text"
                                        class="input CheckoutForm__Input "
                                        placeholder="543"
                                        required
                                    >
                                </label>
                            </div>
                            <label class="label CheckoutForm__Label CheckoutForm__Label--Required">
                                Expiration
                                <span class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                    <select class="select CheckoutForm__Select" required>
                                        <option value="" disabled selected>Select Month</option>
                                        <option value="0">April</option>
                                        <option value="OTHER">Other</option>
                                    </select>
                                    <select class="select CheckoutForm__Select" required>
                                        <option value="" disabled selected>Select Year</option>
                                        <option value="2018">2018</option>
                                        <option value="OTHER">Other</option>
                                    </select>
                                </span>
                            </label>
                            <label class="label CheckoutForm__Label CheckoutForm__Label--PaySubmit">
                                <input class="button CheckoutForm__PaySubmit" type="submit" value="Pay $95.99">
                            </label>
                        </section>
                    </form>
                </div>
            </div>
            <div class="Cart__SidebarAtDesktop">
                <div class="Cart__TotalsContainer">
                    <ul class="Cart__TotalsList">
                        <li class="Cart__TotalsListItem">
                            <span class="Cart__TotalsListItemTitle">
                                Subtotal
                            </span>
                            <span class="Cart__TotalsListItemValue">
                                $123.09
                            </span>
                        </li>
                        <li class="Cart__TotalsListItem">
                            <span class="Cart__TotalsListItemTitle">
                                Tax
                            </span>
                            <span class="Cart__TotalsListItemValue">
                                $0.00
                            </span>
                        </li>
                        <li class="Cart__TotalsListItem Cart__TotalsListItem--IsEmphasized">
                            <span class="Cart__TotalsListItemTitle">
                                Total
                            </span>
                            <span class="Cart__TotalsListItemValue">
                                $123.00
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="Cart__ItemsContainer">
                    <ul class="Cart__Items">
                        {% for productKey,productModel in cartModel.getProductModels() %}
                            <li class="Cart__Item">
                                <a href="{{ productModel.url }}" class="Cart__ItemTitle">
                                    {{ productModel.title|smartypants }}
                                </a>
                                <form class="Cart__ItemMeta">
                                    <div class="Cart__ItemMetaPrice">${{ productModel.price|number_format(2) }}</div>
                                    <input type="text" class="input Cart__ItemMetaQtyInput" value="{{ productModel.qty }}">
                                    <input class="button Cart__ItemMetaUpdateSubmit" type="submit" value="Update">
                                    <a
                                        href="/cart/remove/{{ productKey }}"
                                        class="button Cart__ItemMetaRemove"
                                    >
                                        X
                                    </a>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
