{# @var bool isGuest #}
{# @var array checkoutInputErrors #}
{# @var string checkoutErrorMessage #}
{# @var \modules\store\models\CartModel cartModel #}

{% extends '_layouts/Master.twig' %}

{% block content %}
    <div class="Cart">
        <div class="Cart__Inner">
            <div class="Cart__Checkout">
                <div class="Cart__CheckoutInner">
                    {% if isGuest %}
                        <div class="Cart__CheckoutLogIn">
                            <div class="Cart__CheckoutLogInInner">
                                {% include '_partials/LogInForm.twig' with {
                                    redirectUrl: '/cart'
                                } %}
                            </div>
                        </div>
                    {% else %}
                        <div class="Cart__CheckoutNotice">
                            {% if checkoutErrorMessage %}
                                <div class="Cart__CheckoutNoticeInner">
                                    {% embed '_embeds/Note.twig' with {
                                        isError: true,
                                    } %}
                                        {% block noteTitle %}Error{% endblock %}
                                        {% block noteContent %}{{ checkoutErrorMessage|typeset }}{% endblock %}
                                    {% endembed %}
                                </div>
                            {% endif %}
                        </div>
                        <form
                            method="post"
                            accept-charset="UTF-8"
                            class="CheckoutForm JSCheckoutForm"
                            data-cart-pricing-info-url="{{ siteUrl() }}cart/pricing-info"
                            novalidate
                        >
                            {{ csrfInput() }}
                            <input
                                type="hidden"
                                name="action"
                                value="store/cart-content/checkout"
                                class="JSCheckoutForm__ActionInput"
                                data-checkout-action="store/cart-content/checkout"
                                data-update-cart-action="store/cart-content/update-cart-details"
                            >
                            <input
                                type="hidden"
                                name="redirect"
                                value="/cart/order-success"
                            >
                            <section class="CheckoutForm__Section CheckoutForm__Section--FirstSection">
                                <h2 class="CheckoutForm__SectionHeader">Billing</h2>
                                <div class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                    <label class="label CheckoutForm__Label CheckoutForm__Label--Required input-parent">
                                        Phone Number
                                        <input
                                            type="text"
                                            name="phoneNumber"
                                            class="input{% if checkoutInputErrors['phoneNumber'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
                                            placeholder="i.e. 123-555-1212"
                                            value="{{ cartModel.phoneNumber }}"
                                            required
                                        >
                                        {% if checkoutInputErrors['phoneNumber'] is defined %}
                                            <ul class="CheckoutForm__InputErrors">
                                                {% for error in checkoutInputErrors.phoneNumber %}
                                                    <li class="CheckoutForm__InputErrorItem">
                                                        {{ error|typeset }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </label>
                                    <label class="label CheckoutForm__Label CheckoutForm__Label--Required input-parent">
                                        Country
                                        <select
                                            name="country"
                                            class="select{% if checkoutInputErrors['country'] is defined %} select--has-error{% endif %} CheckoutForm__Select JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch JSCheckoutForm__CountryInput"
                                            required
                                        >
                                            <option value="" disabled selected>Select Country...</option>
                                            {% for country in countries().all() %}
                                                <option
                                                    value="{{ country.alpha2 }}"
                                                    {% if cartModel.country == country.alpha2 or (not cartModel.country and country.alpha2 == 'US') %}
                                                    selected
                                                    {% endif %}
                                                >
                                                    {{ country.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        {% if checkoutInputErrors['country'] is defined %}
                                            <ul class="CheckoutForm__InputErrors">
                                                {% for error in checkoutInputErrors.country %}
                                                    <li class="CheckoutForm__InputErrorItem">
                                                        {{ error|typeset }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                    <label class="label CheckoutForm__Label CheckoutForm__Label--Required input-parent">
                                        Full Name
                                        <input
                                            type="text"
                                            name="name"
                                            class="input{% if checkoutInputErrors['name'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
                                            placeholder="i.e. John Smith"
                                            value="{{ cartModel.name }}"
                                            required
                                        >
                                        {% if checkoutInputErrors['name'] is defined %}
                                            <ul class="CheckoutForm__InputErrors">
                                                {% for error in checkoutInputErrors.name %}
                                                    <li class="CheckoutForm__InputErrorItem">
                                                        {{ error|typeset }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </label>
                                    <label class="label CheckoutForm__Label input-parent">
                                        Company
                                        <input
                                            type="text"
                                            name="company"
                                            class="input{% if checkoutInputErrors['company'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
                                            placeholder="i.e. BuzzingPixel, LLC"
                                            value="{{ cartModel.company }}"
                                        >
                                        {% if checkoutInputErrors['company'] is defined %}
                                            <ul class="CheckoutForm__InputErrors">
                                                {% for error in checkoutInputErrors.company %}
                                                    <li class="CheckoutForm__InputErrorItem">
                                                        {{ error|typeset }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </label>
                                </div>
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required input-parent">
                                    Address
                                    <input
                                        type="text"
                                        name="address"
                                        class="input{% if checkoutInputErrors['address'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
                                        placeholder="i.e. 123 Some Street"
                                        value="{{ cartModel.address }}"
                                        required
                                    >
                                    {% if checkoutInputErrors['address'] is defined %}
                                        <ul class="CheckoutForm__InputErrors">
                                            {% for error in checkoutInputErrors.address %}
                                                <li class="CheckoutForm__InputErrorItem">
                                                    {{ error|typeset }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </label>
                                <label class="label CheckoutForm__Label input-parent">
                                    Address Line 2
                                    <input
                                        type="text"
                                        name="addressContinued"
                                        class="input{% if checkoutInputErrors['addressContinued'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
                                        placeholder="i.e. Suite 201"
                                        value="{{ cartModel.addressContinued }}"
                                    >
                                    {% if checkoutInputErrors['addressContinued'] is defined %}
                                        <ul class="CheckoutForm__InputErrors">
                                            {% for error in checkoutInputErrors.addressContinued %}
                                                <li class="CheckoutForm__InputErrorItem">
                                                    {{ error|typeset }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </label>
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required input-parent">
                                    City
                                    <input
                                        type="text"
                                        name="city"
                                        class="input{% if checkoutInputErrors['city'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
                                        placeholder="i.e. Metropolis"
                                        value="{{ cartModel.city }}"
                                        required
                                    >
                                    {% if checkoutInputErrors['city'] is defined %}
                                        <ul class="CheckoutForm__InputErrors">
                                            {% for error in checkoutInputErrors.city %}
                                                <li class="CheckoutForm__InputErrorItem">
                                                    {{ error|typeset }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </label>
                                <div class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                    {% include '_partials/CheckoutStateSelect.twig' with {
                                        value: cartModel.stateProvince,
                                        errors: checkoutInputErrors['stateProvince'] ?? {}
                                    } only %}
                                    <label class="label CheckoutForm__Label CheckoutForm__Label--Required input-parent">
                                        Postal Code
                                        <input
                                            type="text"
                                            name="postalCode"
                                            class="input{% if checkoutInputErrors['postalCode'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
                                            placeholder="i.e. 12345"
                                            value="{{ cartModel.postalCode }}"
                                            required
                                        >
                                        {% if checkoutInputErrors['postalCode'] is defined %}
                                            <ul class="CheckoutForm__InputErrors">
                                                {% for error in checkoutInputErrors.postalCode %}
                                                    <li class="CheckoutForm__InputErrorItem">
                                                        {{ error|typeset }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </label>
                                </div>
                                <label class="label CheckoutForm__Label CheckoutForm__Label--AlignRight">
                                    Save Billing Info To Account?
                                    <input
                                        name="updateAccountInfo"
                                        type="checkbox"
                                        class="JSCheckoutForm__Input JSCheckoutForm__Input--UpdateWatch"
                                        {% if cartModel.updateAccountInfo %}
                                        checked
                                        {% endif %}
                                    >
                                </label>
                            </section>
                            <section class="CheckoutForm__Section CheckoutForm__Section--SecondSection">
                                <h2 class="CheckoutForm__SectionHeader">Payment</h2>
                                <div class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                    <label class="label CheckoutForm__Label CheckoutForm__Label--Required CheckoutForm__Label--TwoThirds input-parent">
                                        Credit Card Number
                                        <input
                                            type="text"
                                            name="cardNumber"
                                            class="input{% if checkoutInputErrors['cardNumber'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCreditCardNumber JSCheckoutForm__Input"
                                            placeholder="i.e. 5530 8628 8440 9534"
                                            required
                                        >
                                        {% if checkoutInputErrors['cardNumber'] is defined %}
                                            <ul class="CheckoutForm__InputErrors">
                                                {% for error in checkoutInputErrors.cardNumber %}
                                                    <li class="CheckoutForm__InputErrorItem">
                                                        {{ error|typeset }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </label>
                                    <label class="label CheckoutForm__Label CheckoutForm__Label--Required CheckoutForm__Label--OneThird input-parent">
                                        CVC
                                        <input
                                            type="text"
                                            name="cvc"
                                            class="input{% if checkoutInputErrors['cvc'] is defined %} input--has-error{% endif %} CheckoutForm__Input JSCheckoutForm__Input"
                                            placeholder="i.e. 543"
                                            required
                                        >
                                        {% if checkoutInputErrors['cvc'] is defined %}
                                            <ul class="CheckoutForm__InputErrors">
                                                {% for error in checkoutInputErrors.cvc %}
                                                    <li class="CheckoutForm__InputErrorItem">
                                                        {{ error|typeset }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </label>
                                </div>
                                <label class="label CheckoutForm__Label CheckoutForm__Label--Required input-parent expiration-parent">
                                    Expiration
                                    <span class="CheckoutForm__LabelGroupWrapper CheckoutForm__LabelGroupWrapper--Dual">
                                        <select
                                            name="expireMonth"
                                            class="select{% if checkoutInputErrors['expiration'] is defined %} select--has-error{% endif %} CheckoutForm__Select JSCheckoutForm__Input"
                                            required
                                        >
                                            <option value="" disabled selected>Select Month...</option>
                                            {% for month in months() %}
                                                <option value="{{ month.numeric }}">{{ month.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <select
                                            name="expireYear"
                                            class="select{% if checkoutInputErrors['expiration'] is defined %} select--has-error{% endif %} CheckoutForm__Select JSCheckoutForm__Input"
                                            required
                                        >
                                            <option value="" disabled selected>Select Year...</option>
                                            {% for year in years() %}
                                                <option value="{{ year }}">{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                    {% if checkoutInputErrors['expiration'] is defined %}
                                        <ul class="CheckoutForm__InputErrors">
                                            {% for error in checkoutInputErrors.expiration %}
                                                <li class="CheckoutForm__InputErrorItem">
                                                    {{ error|typeset }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </label>
                                <label class="label CheckoutForm__Label CheckoutForm__Label--PaySubmit">
                                    <noscript>You do not have JavaScript enabled. Without JavaScript enabled, the price reflected on the button might not be the final price.</noscript>
                                    <input
                                        class="button CheckoutForm__PaySubmit JSCheckoutForm__SubmitPayment"
                                        type="submit"
                                        value="Pay ${{ cartModel.getTotal()|number_format(2) }}"
                                        data-value-template="Pay ${total}"
                                    >
                                </label>
                            </section>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="Cart__SidebarAtDesktop">
                <div class="Cart__TotalsContainer">
                    <ul class="Cart__TotalsList">
                        <li class="Cart__TotalsListItem">
                            <span class="Cart__TotalsListItemTitle">
                                Subtotal
                            </span>
                            <span class="Cart__TotalsListItemValue">
                                $<span class="JSCheckoutForm__SubTotal">{{ cartModel.getSubTotal()|number_format(2) }}</span>
                            </span>
                        </li>
                        <li class="Cart__TotalsListItem">
                            <span class="Cart__TotalsListItemTitle">
                                Tax
                            </span>
                            <span class="Cart__TotalsListItemValue">
                                $<span class="JSCheckoutForm__Tax">{{ cartModel.getTax()|number_format(2) }}</span>
                            </span>
                        </li>
                        <li class="Cart__TotalsListItem Cart__TotalsListItem--IsEmphasized">
                            <span class="Cart__TotalsListItemTitle">
                                Total
                            </span>
                            <span class="Cart__TotalsListItemValue">
                                $<span class="JSCheckoutForm__Total">{{ cartModel.getTotal()|number_format(2) }}</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="Cart__ItemsContainer">
                    <ul class="Cart__Items">
                        {% for productKey,productModel in cartModel.getProductModels() %}
                            <li class="Cart__Item">
                                <div class="Cart__ItemPrimaryContent">
                                    <a href="{{ productModel.url }}" class="Cart__ItemTitle JSCartItemTitle">
                                        {{ productModel.title|smartypants }}
                                    </a>
                                    <form method="post" accept-charset="UTF-8" class="Cart__ItemMeta JSCartItemForm">
                                        {{ csrfInput() }}
                                        <input type="hidden" name="action" value="store/cart-content/update-item">
                                        <input type="hidden" name="productKey" value="{{ productKey }}">
                                        <div class="Cart__ItemMetaPrice">${{ productModel.price|number_format(2) }}</div>
                                        <input
                                            type="number"
                                            min="0"
                                            step="1"
                                            class="input Cart__ItemMetaQtyInput JSCartItemForm__Input"
                                            name="qty"
                                            value="{{ productModel.qty }}"
                                        >
                                        <noscript>
                                            <input class="button Cart__ItemMetaUpdateSubmit" type="submit" value="Update">
                                        </noscript>
                                        <a
                                            href="/cart/remove/{{ productKey }}"
                                            class="button Cart__ItemMetaRemove"
                                        >
                                            X
                                        </a>
                                    </form>
                                </div>
                                {% if productModel.subscriptionPrice > 0 %}
                                    <div class="Cart__ItemSecondaryContent">
                                        Update and support subscription renews {{ productModel.subscriptionFrequency }} at ${{ productModel.subscriptionPrice|number_format(2) }} and can be canceled at any time.
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="JSCheckoutForm__StateSelect">
        {% include '_partials/CheckoutStateSelect.twig' with {
            value: cartModel.stateProvince
        } only %}
    </script>

    <script type="text/template" id="JSCheckoutForm__StateProvince">
        {% include '_partials/CheckoutStateProvince.twig' with {
            value: cartModel.stateProvince
        } only %}
    </script>
{% endblock %}
