{# @var \craft\web\twig\variables\CraftVariable craft #}
{# @var string switcherTitle #}
{# @var array switcher #}
{# @var string backLink #}
{# @var array nav #}
{# @var string fullUrlPath #}
{# @var string metaTitle #}
{# @var string metaDescription #}
{# @var \dev\models\FileContentModel pageContentModel #}
{# @var string pageTitle #}
{# @var array pageSections #}

{% extends '_layouts/Docs.twig' %}

{% set bodyClass = 'DocsBody JSDocsPage' %}

{% set backLink = backLink|default('/') %}

{% block header %}
    <div class="DocsHeadingBackLink">
        <a href="{{ backLink }}" class="DocsBackLink">&laquo; Back</a>
        <h1
            class="DocsHeading{% if switcher|length %} DocsHeading--HasNav JSDocsSwitcherMenuActivator{% endif %}"
            data-active-class="DocsHeading--NavActive"
        >
            {{ switcherTitle|typeset }}
            {% if switcher|length %}<span class="DocsHeading__Caret">{% include '_icons/icon-caret.svg' %}</span>{% endif %}
        </h1>
    </div>
    {% if switcher|length %}
        <nav class="DocsHeadingNav">
            <ul class="DocsHeadingNav__List JSDocsSwitcherMenu__List">
                {% for item in switcher %}
                    <li class="DocsHeadingNav__ListItem">
                        <a
                            href="{{ item.link }}"
                            class="DocsHeadingNav__Link{% if item.isActive %} DocsHeadingNav__Link--IsActive{% endif %}"
                        >
                            {{ item.text|typeset }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block aside %}
    <nav class="DocsNav">
        <div
            class="DocsNav__MobileActivator JSMobileDocsPagesMenuActivator"
            data-active-class="DocsNav__MobileActivator--IsActive"
        >
            Pages Menu
            <span class="DocsNav__MobileActivatorCaret">{% include '_icons/icon-caret.svg' %}</span>
        </div>
        <div class="DocsNav__Sections JS JSMobileDocsPagesMenu__List">
            {% for item in nav %}
                <div class="DocsNav__Section">
                    {% if item['SectionName'] is defined and item.SectionName %}
                        <h2 class="DocsNav__SectionHeading">
                            {{ item.SectionName|typeset }}
                        </h2>
                    {% endif %}
                    {% if item['SectionLinks'] is defined and item.SectionLinks|length %}
                        <ul class="DocsNav__SectionList">
                            {% for link,linkText in item.SectionLinks %}
                                <li class="DocsNav__SectionListItem">
                                    <a
                                        href="{{ link }}"
                                        class="DocsNav__Link{% if link == fullUrlPath %} DocsNav__Link--IsActive{% endif %}"
                                    >
                                        {{ linkText|typeset }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="DocsContent__Inner">
        {% if pageTitle %}
            <h1 class="DocsContent__Heading">
                {{ pageTitle|typeset }}
            </h1>
        {% endif %}
        {% for section in pageSections %}
            <div class="DocsContent__Section">
                {% if section['meta']['title'] is defined %}
                    {% set slug = section.meta.title|slugify %}
                    <h2
                        id="{{ slug }}"
                        class="DocsContent__SectionHeading"
                    >
                        <a
                            href="#{{ slug }}"
                            class="DocsContent__SectionHeadingLink"
                            title="Direct link to Some ID"
                        >#</a>
                        {{ section.meta.title|typeset }}
                    </h2>
                {% endif %}
                <div class="DocsContent__SectionInner">
                    {{ section.html|typeset }}
                </div>
            </div>
        {% endfor %}
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
