<!doctype html>
<html lang="en">
<head>
    <title>hello world</title>
</head>
<body>
    {# Get any queued up body items #}
    {{ beginBody() }}
    {{ block('beginBody') ?? '' }}

    {# Get the content #}
    {{ block('layoutContent') ?? '' }}

    {# Get any queued up body items #}
    {{ block('endBody') ?? '' }}
    {{ endBody() }}
</body>
</html>
